<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <% for (let i in users) { %>
        <div class="">
            <h4>"<%= users[i].quote %>"</h4>
            <p><%= users[i].name %> at <%= users[i].created_at.toDateString()%></p>
        </div>
    <%}%>
    
</body>
</html>